<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.plugin.file.dao.FileObjectMapper">
	<resultMap id="BaseResultMap" type="com.allmsi.plugin.file.model.FileObjectPo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="FILEID" property="fileId" jdbcType="VARCHAR" />
		<result column="OBJECTID" property="objectId" jdbcType="VARCHAR" />
		<result column="OBJECTTYPE" property="objectType" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="DELETEFLAG" property="deleteFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, FILEID, OBJECTID, OBJECTTYPE, CREATETIME, UPDATETIME,
		DELETEFLAG
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from FILE_OBJECT
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByMD5" resultMap="com.allmsi.plugin.file.dao.FileMapper.BaseResultMap"
		parameterType="java.util.Map">
		select t.ID, t.FILENAME, t.FILESIZE, t.FILESTATUS, t1.OBJECTID,
		t1.OBJECTTYPE from file t LEFT JOIN FILE_OBJECT t1 on
		t.ID=t1.FILEID and t1.DELETEFLAG=0
		where t.FILEMD5 = #{fileMD5,jdbcType=VARCHAR} and t.FILESTATUS =
		#{fileStatus,jdbcType=INTEGER} and t1.OBJECTID = #{objectId,jdbcType=VARCHAR} and t.DELETEFLAG =
		0
	</select>
	<select id="selectByObject" resultMap="com.allmsi.plugin.file.dao.FileMapper.BaseResultMap"
		parameterType="java.util.Map">
		select t.ID, t.FILENAME, t.FILESIZE, t.FILESTATUS, t1.OBJECTID, t1.OBJECTTYPE from
		file t LEFT JOIN FILE_OBJECT t1 on
		t.ID=t1.FILEID and t1.DELETEFLAG=0
		<where>
			t.DELETEFLAG=0
			<if test="objectId != null and objectId !=''">
				and t1.OBJECTID=#{objectId,jdbcType=VARCHAR}
			</if>
			<if test="objectType != null and objectType !=''">
				and t1.OBJECTTYPE = #{objectType,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<insert id="insert" parameterType="com.allmsi.plugin.file.model.FileObjectPo">
		insert into FILE_OBJECT (
		<include refid="Base_Column_List" />
		) values (#{id,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR},
		#{objectId,jdbcType=VARCHAR},
		#{objectType,jdbcType=INTEGER}, now(),
		#{updateTime,jdbcType=TIMESTAMP}, 0)
	</insert>
	<update id="deleteByFileId" parameterType="java.lang.String">
		update FILE_OBJECT
		set
		UPDATETIME = now(),DELETEFLAG = 1
		where FILEID =
		#{fileId,jdbcType=VARCHAR}
	</update>
</mapper>